nav {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.right {
    float: right;
}

body {
  font-family: "Lucida Console";
}

canvas {
    border: 1px solid black;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    margin: 10px;
}
